body
{
	background-image: url(../Imagenes/allfons.ru-1457.jpg);
}
.Configuracion
{
    max-width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.Bordes
{
    -moz-box-shadow: 0 0 6px 6px #2F657F;
    -webkit-box-shadow: 0 0 6px 6px #2F657F;
    box-shadow: 0 0 6px 6px #2F657F;
    -moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
}
.logo
{
	height:100px;
	width:auto;
}
.titulo
{
	margin-top:33px;
}
.header
{
	background-color:White;
}
.contenido
{
	margin-top:-22px;
	background-color:White;
	-moz-border-radius: 0 0 6px 6px;
    -webkit-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px; 
}